# Segmenting and Clustering Neighborhoods in Toronto

## Importing required libraries

In [15]:
## Import request and Pandas
import requests
import pandas as pd

#### Get the HTML of the Wiki page, convert into a table with help of read_html.
#### As suggested remove cells with a borough that is Not assigned.

In [16]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikipedia_page = requests.get(wiki)

inp0 = pd.read_html(wikipedia_page.content, header=0)[0]
inp1 = inp0[inp0.Borough != 'Not assigned']

inp1.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

##### Replace "Not assigned" in Neighbourhood with Borough

If we have Neighbourhood Not assigned, we change it with the value of Borough

In [17]:
inp1.Neighbourhood.replace('Not assigned',inp1.Borough,inplace=True)
inp1.head(8)

C:\Users\Sur\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills

In [18]:
# Checking 'Not assigned' in Neighbourhood
inp1.loc[inp1.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [19]:
# Checking value counts for Borough
inp1['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East Toronto         5
East York            5
York                 5
Mississauga          1
Name: Borough, dtype: int64

In [20]:
# Checking value counts for Neighbourhood
inp1['Neighbourhood'].value_counts()

Downsview                                        4
Don Mills                                        2
The Kingsway, Montgomery Road, Old Mill North    1
Runnymede, Swansea                               1
Moore Park, Summerhill East                      1
                                                ..
Upper Rouge                                      1
University of Toronto, Harbord                   1
Brockton, Parkdale Village, Exhibition Place     1
North Park, Maple Leaf Park, Upwood Park         1
Woodbine Heights                                 1
Name: Neighbourhood, Length: 99, dtype: int64

In [21]:
inp1.shape

(103, 3)

##### For making data more presentable and for ease to analyhsis let's group Neighbourhoods with the same Postcode

In [24]:
inp1_toronto = inp1.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x))
inp1_toronto = inp1_toronto.reset_index()
inp1_toronto.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [23]:
inp1_toronto.shape

(103, 3)